amqp==5.3.1
asgiref==3.11.1
attrs==25.4.0
autobahn==25.12.2
Automat==25.4.16
billiard==4.2.4
cbor2==5.8.0
celery==5.6.2
certifi==2026.2.25
cffi==2.0.0
channels==4.1.0
channels-redis==4.2.0
charset-normalizer==3.4.5
click==8.3.1
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
cloudinary==1.40.0
colorama==0.4.6
constantly==23.10.4
coverage==7.13.4
cron-descriptor==1.4.5
cryptography==46.0.5
daphne==4.1.0
dj-database-url==3.1.2
Django==6.0.3
django-anymail[resend]==10.3
django-celery-beat==2.9.0
django-cloudinary-storage==0.3.0
django-cors-headers==4.3.1
django-filter==24.2
django-mongodb-backend==6.0.2
django-ratelimit==4.1.0
django-timezone-field==7.2.1
djangorestframework==3.16.1
djangorestframework-simplejwt==5.3.1
dnspython==2.8.0
drf-spectacular==0.27.2
drf-standardized-errors==0.13.0
factory-boy==3.3.0
Faker==25.0.0
gunicorn==25.1.0
h11==0.16.0
hyperlink==21.0.0
idna==3.11
imbalanced-learn==0.14.1
Incremental==24.11.0
inflection==0.5.1
iniconfig==2.3.0
joblib==1.5.3
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
kombu==5.6.2
msgpack==1.1.2
numpy==2.4.3
packaging==26.0
pillow==11.0.0
pluggy==1.6.0
prompt_toolkit==3.0.52
psycopg2-binary==2.9.11
py-ubjson==0.16.1
pyasn1==0.6.2
pyasn1_modules==0.4.2
pycparser==3.0
Pygments==2.19.2
PyJWT==2.12.1
pymongo==4.16.0
pyotp==2.9.0
pyOpenSSL==25.3.0
pytest==9.0.2
pytest-cov==5.0.0
pytest-django==4.8.0
python-crontab==3.3.0
python-dateutil==2.9.0
python-decouple==3.8
python-dotenv==1.2.2
python-json-logger==4.0.0
PyYAML==6.0.3
redis==7.3.0
referencing==0.37.0
requests==2.32.5
resend==2.24.0
rpds-py==0.30.0
scikit-learn==1.8.0
scipy==1.17.1
sentry-sdk==2.54.0
service-identity==24.2.0
setuptools==82.0.1
six==1.17.0
sklearn-compat==0.1.5
sqlparse==0.5.5
threadpoolctl==3.6.0
Twisted==25.5.0
txaio==25.12.2
typing_extensions==4.15.0
tzdata==2025.3
tzlocal==5.3.1
ujson==5.12.0
uritemplate==4.2.0
urllib3==2.6.3
uvicorn==0.42.0
vine==5.1.0
wcwidth==0.6.0
wheel==0.46.3
whitenoise==6.12.0
xgboost==3.2.0
zope.interface==8.2
